# ==========================================
# Arquivos Compilados e Binários
# ==========================================
*.o
*.elf
*.iso
iso/boot/kernel.elf
iso/modules/program

# ==========================================
# Logs e Arquivos do Emulador (Bochs / Serial)
# ==========================================
bochslog.txt
*.out
bx_enh_dbg.ini
snapshot.txt

# ==========================================
# Configurações Pessoais de Editores (IDE)
# ==========================================
.vscode/
.idea/